/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* App Container */
.App {
    text-align: center;
    flex: 1;
}

/* Header and Footer */
.App-header, footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Component Styling */
.DataUpload, .DataVisualization, .DataSummary, .DataProcessing, .data-splitter, .label-column-selector, .drop-columns-container, .model-builder-container, .model-training-container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 80%;
    max-width: 800px;
}

.drag-drop-area {
    border: 2px dashed #007bff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    color: #007bff;
    transition: background-color 0.3s;
}

.drag-drop-area:hover {
    background-color: #f4f4f4;
}

/* Buttons and Inputs */
button, input[type="file"] {
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover, button:focus {
    background-color: #0056b3;
}

input[type="file"] {
    background-color: #f4f4f4;
    color: #333;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Form Elements */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Loading and Messages */
.loading {
    color: #007bff;
    font-style: italic;
}

/* Error Messages */
.error-message {
    color: #dc3545;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .DataUpload, .DataVisualization, .DataSummary, .DataCleaning, .data-splitter, .label-column-selector {
        width: 90%;
    }
}

/* Footer */
footer {
    text-align: center;
}

.summary-table, .metrics-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#val_set {
    padding-top: 15px;
}

#column_selector {
    text-align: center;
}

.summary-table th, .summary-table td, .metrics-table th, .metrics-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.summary-table th, .metrics-table th{
    background-color: #f2f2f2;
    color: #333;
}

.summary-table tr:nth-child(even), .metrics-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.summary-table select, .metrics-table select {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.summary-table td, .metrics-table td {
    vertical-align: middle;
    text-align: center;
}

/* Styling for summary stats (number of rows and columns) */
.data-stats {
    list-style-type: none;
    padding: 0;
}

.data-stats li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.data-stats li strong {
    color: #555;
    margin-right: 5px;
}

/* Custom styling for the dropdown */
.data-dropdown {
    padding: 8px 12px;
    margin-bottom: 20px; /* Adjust spacing between dropdown and chart */
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-legend {
    display: flex;
    justify-content: center; /* Aligns the items to the center horizontally */
    flex-wrap: wrap;
    margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;
}

.legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-label {
    font-size: 14px;
}

.label-column-selector select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.label-column-selector button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.label-column-selector button:hover {
    background-color: #0056b3;
}

.label-column-selector .error {
    color: red;
    margin-top: 10px;
}

.data-splitter input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.data-splitter button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.data-splitter button:hover {
    background-color: #0056b3;
}

.data-splitter .error {
    color: red;
    margin-top: 10px;
}

input {
    text-align: center;
}

.DataProcessing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

.data-processing-header {
    text-align: center;
    margin-bottom: 24px;
}

.data-processing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.data-cleaning-info {
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-section-title {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
  }

.form-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.form-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-top: 6px;
  }

.submit-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover, .collapsible-header:hover {
    background-color: #0056b3;
}

.collapsible {
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    overflow: hidden;
    width: 100%;
}

.collapsible-header {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collapsible-title {
    margin-left: 10px;
    font-weight: bold;    
    text-align: left;
}

.arrow {
    transition: transform 0.3s ease;
    font-size: 1.2em;
}

.arrow.open {
    transform: rotate(90deg);
}

.collapsible-content {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: white;
    color: #333;
    line-height: 1.6;
    font-size: 14px;
    text-align: left;
}

.metrics-table-container {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.comparison-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.drop-columns-container h2 {
    margin-bottom: 15px;
    color: #333;
}

.drop-columns-container button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.drop-columns-container button:hover {
    background-color: #0056b3;
}

.drop-status-message, .message {
    margin-top: 15px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    color: #333;
}

.checkbox-list {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-content: center;
  }
  
  /* Individual checkbox item */
  .checkbox-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  /* Custom checkbox design */
  .custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: px;
    width: 5px;
    height: 11px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .checkbox-label {
    font-size: 16px;
    color: #333;
  }

  .drop-status-message b i, .message b i{
    font-weight: bold;
    font-style: italic;
  }
  
  /* Styles for the disabled state */
.drop-columns-container.disabled .checkbox-item {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .drop-columns-container.disabled .checkbox-label {
    color: #ccc;
  }
  
  .drop-columns-container.disabled .submit-button,
  .drop-columns-container.disabled .skip-button {
    background-color: #ccc;
    color: #666;
    pointer-events: none;
    cursor: default;
  }

  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between checkboxes */
    margin-top: 20px;
  }
  
  .checkbox-item {
    flex-basis: calc(33.33% - 10px); /* Adjust the percentage based on desired number of columns */
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox + .checkbox-label {
    margin-left: 8px; /* Spacing between checkbox and label */
  }
  
  .submit-button, .skip-button {
    margin-top: 20px; /* Spacing above the buttons */
    margin-right: 10px; /* Spacing between buttons */
  }
  
  .drop-status-message {
    margin-top: 20px;
  }