[flake8]
# Exclude directories not relevant to our linting process.
exclude =
    __pycache__,  # Ignore cached files.
    .venv,        # Ignore virtual environment setup.
    .git,         # Ignore version control system files.
    .tox,         # Ignore Tox test environment configurations.
    dist,         # Ignore distribution build files.
    docs,         # Ignore documentation files.
    *lib/python*, # Ignore Python standard library files.
    *egg,         # Ignore Python egg package files.
    venv          # Ignore another common virtual environment setup.

# Limit the Cyclomatic complexity to maintain code simplicity and readability.
max-complexity = 10

# Extend line length for better code readability and compatibility with modern displays.
max-line-length = 120

# Ignore specific rules that either conflict with our chosen formatting tool (Black)
# or do not align with our project's coding standards.
ignore =
    E203,  # Ignore whitespace before ':' conflict with Black.
    E266,  # Ignore too many leading '#' for block comments.
    E501,  # Managed by Black for line length; ignore here.
    W503,  # Ignore line break before binary operator, following newer PEP 8 recommendations.
    F403,  # Allow 'from module import *' in certain cases.
    F401,  # Allow unused imports in __init__.py files for public API definition.

# Specify which plugin checks to include, aiming for comprehensive code quality checks.
select =
    B,    # Enable Bugbear for catching probable bugs and design issues.
    C,    # Enable McCabe for assessing code complexity.
    E,    # Enable Pycodestyle errors for enforcing Python style conventions.
    F,    # Enable Pyflakes for logical errors detection.
    W,    # Enable Pycodestyle warnings for stylistic issues.
    B950  # Enable Bugbear's opinionated warnings with some leeway on line length.

# Bugbear plugin configuration to enforce stricter line length in certain contexts.
[flake8:bugbear]
B950_line_length = 80
